<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MileStone2</title>
    <style>
		body {
			background: #353535;
		}
		input[type=text] {
			width: 300px;
			height: 30px;
			padding: 10px;
			border: 2px solid #ccc;
			border-radius: 20px;
			background-color: #fff;
			color: #333;
			font-size: 16px;
		}
	</style>
</head>
<body>
    <form action="/search" method="get">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/UCI_Logo_2015.svg" width="600" height="120"
             STYLE="position:absolute; top:270px; left:450px" alt="University of California, Irvine">
        <input type="text" name="query" style="position: absolute; left: 450px; top: 400px; width: 600px; height: 10px "
               placeholder="Enter the word you want to search"><br>
    </form>
</body>
</html>